li {color: rgb(0,250,0);}

h1 {font-family: "Tangerine", serif;
    font-size: 60px;
    text-align: center;}

p {font-family: "Sansita Swashed", serif;}

body {font-size: 20px;
    background-color: rgb(0,0,0);
    color: rgb(255,255,255);}

.container {display: flex;
            flex-direction: column;}

.doge {text-align: center;}
.cat {text-align: center;}